<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="C:\ElPortalWebAPI-Logs\API.TestLogsWebAPIPro.txt">


	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File" name="all_logs" fileName="C:\ElPortalWebAPI-Logs\all.log" layout="${longdate}|${level}|${logger}|${message}${newline}---------------------------------------"/>
		<target xsi:type="File" name="error_logs" fileName="C:\ElPortalWebAPI-Logs\errors.log" layout="${longdate}|${level}|${logger}|${message}${newline}---------------------------------------"/>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="Microsoft.EntityFrameworkCore.*" minlevel="Error" final="true" />
		<logger name="*" minlevel="Debug" writeTo="all_logs" />
		<logger name="*" minlevel="Error" writeTo="error_logs" />
	</rules>
</nlog>